<!DOCTYPE html>
<html>

<head>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            color: #333;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        }

        .logo {
            text-align: center;
            padding: 20px 5px;
            background-color: black;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            text-align: center;
            margin-top: 20px;
        }

        .cta-button {
            display: inline-block;
            padding: 12px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
            transition: background-color 0.3s ease-in-out;
        }

        .cta-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="https://events-front-six.vercel.app/static/media/logobackground.58d44fb533d7036cff0e.png" alt="Your Logo" width="150">
        </div>
        <h1>{{subject}}</h1>
        <p>
            Cher(e) {{user}},<br><br>
          {{firstText}}<br><br>
            {{secondText}}<br><br>
            Cordialement,<br><br>
            LՎquipe MLDFA
        </p>
    </div>
</body>

</html>