<!DOCTYPE html>
<html>
<head>
  <style>
    /* Add your CSS styles here */
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      color: #333;
      padding: 20px;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }
    .logo {
      text-align: center;
      padding: 20px 0;
      background-color: black;
    }
    h1 {
      color: #333;
      text-align: center;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="logo" style="background-color:#02253c">
        <img src="https://i.ibb.co/JxZwW7V/Background.png" alt="Your Logo" width="100%" height="200px"
          style="object-fit:cover;">
    </div>
    <h1>Réception de votre demande de sponsoring: Pack "{{pack}}"</h1>
    <p>
      Cher (e) {{user}},<br><br>
      Nous avons bien reçu votre demande de sponsoring. Merci pour votre intérêt.
      Notre équipe vous contactera dans les bref délais pour discuter de la procédure à suivre.
      N'hésitez pas à nous contacter pour toute question.<br><br>
    Cordialement,<br><br>
    L’équipe MLDFA
    </p>
  </div>
</body>
</html>